.body {
width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
color: #fff;

}
button{
border-radius: 7px;
background-color: #35374B;
color: #fff;
border: none;
outline: none;
padding: 10px;

font-size: 17px;
width: 200px;
height: 36px;
}

.my-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
}

.my-table th, .my-table td {
justify-content: center;
  border: .3px solid #ccc;
  padding: 8px;
  text-align: left;
}

.my-table th {
padding-left: 20px;
justify-content: center;
  background-color: #1F2544;
  color: white;
}

.addBackroundColor{
background-color: #200E3A;
}
